.container {
    width: 100%;
    padding: 4% 4% 4% 10%;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

h1 {
    text-align: center;
}

.buttons {
    margin-top: 25px;
    display: block;
    text-align: center;
}

.btn-primary {
    
    background-color: #76B900;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 15px -7px rgba(0, 0, 0, 0.22);
    border-color: #75b900ad;
}


 .btn-primary:hover {
    background-color: #75b900ad;
}

@media (min-width: 800px) {

    .btn-primary
    {
        width: 52%;
        


    }
}



.text {
    margin-top: 15px;
    margin-bottom: 25px;
}

i {
    cursor: pointer;
}