<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <div class="col-1 fa-solid fa-chevron-left" [routerLink]="''"></div>
                <h1 class="col-9">Kontaktiere uns</h1>
                <div class="col-1"></div>
            </div>
            <div class="buttons">
                <div>
                    <button class="btn btn-primary" type="submit">Finde eine passende Ansprechperson</button>
                </div>
            </div>
            <div class="col-12 text">
                <p>
                    Wenn du weitere Fragen hast, zögere nicht, uns zu kontaktieren:
                </p>
                <p>
                    <app-contactlist></app-contactlist>
                </p>
            </div>
        </div>
    </div>
</body>