<body>
  <div class="container">
    <div class="col-12">
      <div class="header row">

   <div class="modal" id=MyModal tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close"  aria-label="Close" (click)="CloseModel()"></button>
        </div>
        <div class="modal-body">
          <p>
            Bevor Sie eine Meldung abschicken, sollten Sie <a href="">Beratung</a> in Anspruch nehmen, z.B. zum Unterschied von Meldung und Beschwerde, zu den Vorteilen einer namentlichen Meldung und zum Umgang mit Ihrer Meldung.
Sollten Sie dringend Hilfe benötigen, nutzen Sie bitte die Hilfsangebote für Menschen in Krisen in Berlin bzw. bundesweit. <a href="https://www.htw-berlin.de/einrichtungen/zentrale-referate/frauenfoerderung-gleichstellung/sexualisierte-diskriminierung-gewalt/#c10576">Hier</a> finden Sie weiterführende Kontaktinformationen.

             </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModel()">Close</button>
        </div>
      </div>
    </div>
  </div>
        <i class="col-1 fa-solid fa-chevron-left" *ngIf="!weiter" [routerLink]="''" ></i>
        <i class="col-1 fa-solid fa-chevron-left" *ngIf="weiter" (click)="goBack()"></i>
         
        <h1 class="col-9">Meldeformular</h1>
        
      <div class="col-1"></div>
      </div>
      
      <br>
      
      <form (ngSubmit)="submitForm()" #contactForm="ngForm" id="myForm">
      <div class="formdiv" *ngIf="!weiter">
       <div>
          <label for="mitgliedergruppe">Zu welcher Gruppe gehören Sie? *</label>
          <br>
          <select #errorGruppe="ngModel" id="mitgliedergruppe" name="mitgliedergruppe" required [(ngModel)]="formData.mitgliedergruppe">
            <option value="" disabled selected>Auswählen</option>
            <option value="Student*in">Ich studiere an der HTW</option>
            <option value="Professor*in">Ich bin an der HTW Berlin fest beschäftigt </option>
            <option value="Lehrauftrag">Ich habe einen Lehrauftrag an der HTW</option>
            <option value="professur">Ich habe an der HTW Berlin eine Professur inne</option>
            <option value="gelaende">Mein Arbeitgeber ist zwar nicht die HTW, aber ich arbeite auf dem Gelände der
              Hochschule</option>
            <option value="Other">Andere</option>
            <!-- Weitere Kategorien hinzufügen -->
          </select>
        </div>
        <div *ngIf="errorGruppe.touched && errorGruppe.invalid"  class="error-message" >Bitte wählen Sie etwas aus.</div>
        <br>
        <div>
          <label for="message">Bitte schildern Sie den Vorfall möglichst detailliert. (Was ist passiert? Wann und wo?
            Wer war beteiligt?) *</label>
          <textarea #errorGeschichte="ngModel" minlength="10" id="message" name="message" rows="4"  required [(ngModel)]="formData.message"></textarea>
        </div>
        <div *ngIf="errorGeschichte.invalid && errorGeschichte.touched" class="error-message" >Bitte füllen Sie dieses Feld aus. Feld muss mind. 10 Zeichen enthalten.</div>
        <br>
        
        
        <div>
          <label for="category">In welche Kategorie würden Sie diese Art von Diskriminierung einteilen? <div id="optional">(optional)</div></label>
          <select id="category" name="category" [(ngModel)]="formData.category" >
            <option value="" disabled selected>Auswählen</option>
            <option value="1">Unmittelbare Diskrimierung</option>
            <option value="2">Mittelbare Diskriminierung</option>
            <option value="3">Rassistische Zuschreibung</option>
            <option value="4">Sexualisierte Diskriminierung</option>
            <option value="5">Sexualisierte Gewalt</option>
            <option value="6">Belästigung</option>
            <option value="7">Mobbing</option>
            <option value="8">Stalking</option>
            <option value="9">Andere</option>
            <!-- Weitere Kategorien hinzufügen -->
          </select>
        </div>
        <br>

        <div class="checkbox-text">
          <input type="checkbox" id="fluency" checked (change)="isLoggedIn = !isLoggedIn">
          <label for="Kontaktaufnahme">Bitte nehmen Sie mit mir Kontakt auf</label>
        </div>
        <br>
        <div id="Kontaktdaten" *ngIf="isLoggedIn">
          <div>
            <label for="lastname"  required >Nachname: <div id="optional">(optional)</div></label>
            <input type="text" id="lastname" name="lastname" [(ngModel)]="formData.lastname" >
          </div>
          
          <div>
            <label for="firstname" >Vorname: <div id="optional">(optional)</div></label>
            <input type="text" id="firstname" name="firstname" [(ngModel)]="formData.firstname">
          </div>
          <div>
            <label for="email">E-Mail: *</label>
            <input #errorEmail="ngModel" type="email" id="email" name="email" required email [(ngModel)]="formData.email">
          </div> 
          <div *ngIf="errorEmail.touched && errorEmail.invalid"
          
          class="error-message" >Dies ist keine gültige Email Adresse.</div>
        </div>
        <br>

        <div id="hinweisdiv" *ngIf="!isLoggedIn">
          <p id="Hinweis"> Hinweis: Wenn Sie nicht ihre Kontaktdaten hinterlassen, können wir nicht mit Ihnen in Kontakt
            treten, um weitere Beratung sowie Unterstützung anbieten zu können. </p>
        </div>
        
        <div>
          <div id="Datenschutz">Datenschutzhinweis und Einverständniserklärung</div>
          <br>
          <div>Ich erkläre mich damit einverstanden, dass Daten zur Bearbeitung meines Anliegens von der HTW Berlin
            erhoben, gespeichert, verarbeitet und intern übermittelt werden.
            Weitere Informationen zur Datenschutzerklärung der HTW Berlin finden Sie unter: <a href="">Datenschutz der
              HTW</a> sowie in der Antidiskriminierungsrichtlinie der HTW Berlin (§10)
        </div>
        </div>
  <div class="form-group form-check">
        <br>
        <div class="checkbox-text">
          <input required class="form-check-input"  
          #accept="ngModel"
          
        type="checkbox" id="Bestätigung" [(ngModel)]="formData.checkbox" name="accept" >
          <label for="Bestätigung">Ich stimme der Datenschutz- und Einverständniserklärung zu. *</label>
        </div>

        <div *ngIf="accept.invalid && accept.touched" class="error-message">Zur weiteren Bearbeitung brauchen wir die Zustimmung der Datenschutzbedingungen.</div>
</div>
        <br>
        <br>
        <button class="btn-primary " (click)="onWeiter()" [disabled]="!contactForm.valid" id="bttnweiter">Weiter</button>
</div>
          
          <div class="summary" *ngIf="weiter">
            
          <div> Zu welcher Gruppe gehören Sie?: <br> {{ formData.mitgliedergruppe | json }} </div>
          <br>
          <div> Bitte schildern Sie den Vorfall möglichst detailliert. (Was ist passiert? Wann und wo?
            Wer war beteiligt?) <br>{{ formData.message | json }}</div>
          <br>
          <div> In welche Kategorie würden Sie diese Art von Diskriminierung einteilen? <br>
            {{ formData.category | json }}</div>
          <br>
          <div *ngIf="isLoggedIn"> Bitte nehmen Sie mit mir Kontakt auf
            <br>
          <div> 
            Nachname <br> {{ formData.lastname | json }}</div>
          <div> Vorname <br>{{ formData.firstname | json }}</div>
          <div> Email <br>{{ formData.email | json }}</div>
          </div>
          <button class="btn-primary " type="submit" [disabled]="!contactForm.valid">Absenden</button>
          </div>

      </form>
</div>
</div>
  <br>
  <br>
</body>