<!-- Footer for Mobile -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom d-md-none">
    <div class="text-start p-4 row">
        <div [ngClass]="currentRouteIsHome ? 'col-3 active-link' : ' col-3 not-active-link' ">
            <a href="" class="me-4 text-reset">Home</a>
        </div>
        <div [ngClass]="currentRouteIsImprint ? 'col-3 active-link' : ' col-3 not-active-link' ">
            <a class="nav-link" [routerLink]="'/imprint'">Imprint</a>
        </div>
        <div [ngClass]="currentRouteIsPolicy ? 'col-4 active-link' : ' col-4 not-active-link' ">
            <a class="nav-link" [routerLink]="'/privacypolicy'">Privacy Policy</a>
        </div>
        <div class="col-2">
            DE
        </div>
    </div>
</footer>


<!-- Footer for desktop -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom d-none d-md-block">
    <div class="container d-flex justify-content-center p-4">
        <div class="col-1 .d-none .d-lg-block .d-xl-none"></div>
        <div [ngClass]="currentRouteIsHome ? 'col-2 active-link' : ' col-2 not-active-link'">
            <a href="" class="me-4 text-reset">Home</a>
        </div>
        <div [ngClass]="currentRouteIsImprint ? 'col-2 active-link' : ' col-2 not-active-link' ">
            <a class="nav-link" [routerLink]="'/imprint'">Imprint</a>
        </div>
        <div [ngClass]="currentRouteIsPolicy ? 'col-2 active-link' : ' col-2 not-active-link' ">
            <a class="nav-link" [routerLink]="'/privacypolicy'">Privacy Policy</a>
        </div>
        <div class="col-2">
            DE
        </div>


    </div>
</footer>