<body>
    <div class="container">
        <div class="col-12">
            <div class="header row">
                <i class="col-1 fa-solid fa-chevron-left" [routerLink]="''"></i>
                <h1 class="col-9">{{ 'success.page.title.thanks' | translate }}</h1>
                <div class="col-1"></div>
            </div>
            <!--Nach erfolgreichem Absenden des Kontaktformulars-->
            <div class="text">
                <!--Logik für Generierung einer Case-ID kann später hinzugefügt werden.
                <div class="case">
                    <p>Case-ID: xxx</p>
                </div>
                //-->
                <div>
                    {{ 'success.page.p.4' | translate }}
                </div>
            </div>
            <div class="col-12 faq">
                <p [innerHTML]="'success.page.p.3' | translate">
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>