<div class="container table-responsive">
    <table class="table table-striped">
        <caption>Ausgewählte Kontakte</caption>
        <thead>
            <tr>
                <th scope="col">Nr.</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">E-Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let contact of allcontacts ; let i=index ">
                <td>{{ i+1 }} </td>
                <td>{{ contact.forename }}</td>
                <td>{{ contact.surname }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        </tbody>
    </table>
</div>