<div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{{ 'contactlist.page.l.1' | translate }}</th>
                <th scope="col">{{ 'contactlist.page.l.2' | translate }}</th>
                <th scope="col">{{ 'contactlist.page.l.3' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let contact of allcontacts ; let i=index ">
                <td>{{ contact.forename }}</td>
                <td>{{ contact.surname }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        </tbody>
    </table>
</div>