<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header">
                    <h1>Imprint</h1>
                </div>
                <div>
                    <h2>Institution</h2>
                    <p>Hochschule für Technik und Wirtschaft Berlin
                        <br>
                        — represented by the President Prof. Dr. Annabella Rauscher-Scheibe —
                    </p>
                    <h2>Postal address</h2>
                    <p>HTW Berlin
                        <br>
                        10313 Berlin/Germany (PO box)
                    </p>
                    <p><a href="https://www.htw-berlin.de/en/campus/">Locations</a>
                    </p>
                    <h2>Email</h2>
                    <p>
                        Studies & applications:
                        <a href="mailto:studierendenservice@htw-berlin.de"> Email to the Student Service Centre</a>
                        <br>
                        Press Relations:
                        <a href="mailto:pressestelle@htw-berlin.de"> Email to the Communications team</a>
                        <br>
                        IT:
                        <a href="mailto:webmaster@htw-berlin.de"> Email to the webmaster</a>
                    </p>
                    <p>tbc.</p>
                </div>
            </div>
        </div>
    </div>
</body>
