<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header row">
                    <div class="col-1">
                        <a [routerLink]="''"><img src="../../assets/images/Left Actionable.png" alt="" height="24" width="24"></a>
                    </div>
                    <div class="col-11">
                        <h1>Impressum</h1>
                    </div>
                </div>
                <div>
                    <h2>Institution</h2>
                    <p>Hochschule für Technik und Wirtschaft Berlin
                        <br>
                        — vertreten durch die Präsidentin Prof. Dr. Annabella Rauscher-Scheibe —
                    </p>
                    <h2>Postanschrift</h2>
                    <p>HTW Berlin, 10313 Berlin (Postfach)
                    </p>
                    <p><a href="https://www.htw-berlin.de/campus/">Standorte</a>
                    </p>
                    <h2>E-Mail</h2>
                    <p>
                        Studium & Bewerbung:
                        <a href="mailto:studierendenservice@htw-berlin.de"> E-Mail an das Studierenden-Service-Center</a>
                        <br>
                        Öffentlichkeitsarbeit:
                        <a href="mailto:kommunikation@htw-berlin.de"> E-Mail an das Team Kommunikation</a>
                        <br>
                        IT:
                        <a href="mailto:webmaster@htw-berlin.de"> E-Mail an den Webmaster</a>
                    </p>
                    <p>tbc.</p>
                </div>
            </div>
        </div>
    </div>
</body>