/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
    font-family: HTWBerlin;
    src: url(assets/fonts/HTW-font/HTWBerlinOffice-Regular.ttf);
}


html,
body {
    font-family: 'HTWBerlin';
}