<h1>Kontaktformular</h1>
<br>
<mat-horizontal-stepper #stepper>
  <!-- Schritt 1 -->
  <mat-step>
    <ng-template matStepLabel>Mitgliedergruppe</ng-template>
    <form (ngSubmit)="nextStep()">
      <div>
        <label for="mitgliedergruppe">Mitgliedergruppe?</label>
        <br>
        <mat-chip-list>
          
          <mat-chip (click)="selectMitgliedergruppe('Professor*in')" [selected]="formData.mitgliedergruppe === 'Professor*in'">
            Professor*in
          </mat-chip>
          
          <mat-chip (click)="selectMitgliedergruppe('Student*in')" [selected]="formData.mitgliedergruppe === 'Student*in'">
            Student*in
          </mat-chip>
          <mat-chip (click)="selectMitgliedergruppe('Other')" [selected]="formData.mitgliedergruppe === 'Other'">
            Other
          </mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <button class="btn-primary" type="submit">Weiter</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Betroffenheit</ng-template>
    <form (ngSubmit)="nextStep()">
      <div>
        <label for="betroffenheit">Betroffenheit?</label>
        <br>
        <select id="betroffenheit" name="betroffenheit" required [(ngModel)]="formData.betroffenheit">
          <option value="" disabled selected>Auswählen</option>
          <option value="Betroffene">Ich bin Betroffene*r</option>
          <option value="Zeugin">Zeug*in</option>
          <option value="Other">Other</option>
          <!-- Weitere Kategorien hinzufügen -->
        </select>
      </div>
      <div>
        <button class="btn-primary" type="submit">Weiter</button>
      </div>
      <br>
    </form>
  </mat-step>
  <!-- Schritt 3 -->
  <mat-step>
    <ng-template matStepLabel>Was ist passiert?</ng-template>
    <form (ngSubmit)="nextStep()">
      <div>
        <label for="geschichte">Was ist passiert?</label>
        <br>
        Welche Art der Diskriminierung hast du erlebt?
        <br>
        <select id="geschichte" name="geschichte" required [(ngModel)]="formData.geschichte">
          <option value="" disabled selected>Auswählen</option>
          <option value="sexism">Sexismus</option>
          <option value="racism">Rassismus</option>
          <option value="Other">Other</option>
          <!-- Weitere Kategorien hinzufügen -->
        </select>
      </div>
      <div>
        
        <button class="btn-primary" type="submit">Weiter</button>
      </div>
    </form>
  </mat-step>
  
      <br>
       <!-- Schritt 4 -->
  <mat-step>
    <ng-template matStepLabel>Wichtigkeit</ng-template>
    <form (ngSubmit)="nextStep()">
    <div>
      <label for="message">Wichtigkeit:</label>
      <br>
      Bitte erzähl uns genau was passiert ist und welche Wichtigkeit dies hat.
      <br>
      <textarea id="message" name="message" rows="4" required [(ngModel)]="formData.message"></textarea>
    </div>
    <br>
    <div>
      <button class="btn-primary" type="submit">Weiter</button>
    </div>
  </form>
</mat-step>
<mat-step>
  <ng-template matStepLabel>Kontakt?</ng-template>
  <form (ngSubmit)="submitForm()">
  <div>
    <label>Wie sollen wir in Kontakt mit Ihnen treten?</label>
    <div>
        <label for="lastname">Nachname:</label>
        <input type="text" id="lastname" name="lastname" required [(ngModel)]="formData.lastname">
      </div>
      <div>
        <label for="firstname">Vorname:</label>
        <input type="text" id="firstname" name="firstname" required [(ngModel)]="formData.firstname">
      </div>
      <div>
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="formData.email">
      </div>
      <div>
        <button class="btn-primary" type="submit">Absenden</button>
      </div>
  </div>
  </form></mat-step>
  <br>
  <br>
  <br>
</mat-horizontal-stepper>