<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header">
                    <h1>{{ 'home.page.title.welcome' | translate }}
                    </h1>
                </div>
                <div>
                    <p>{{ 'home.page.p.1' | translate }}</p>
                    <p>{{ 'home.page.p.2' | translate }}
                    </p>
                </div>
                <div class="buttons">
                    <div>
                        <button class="btn btn-primary" type="submit">{{ 'home.page.button.report.incident' | translate
                            }}</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">{{ 'home.page.button.get.in.contact' | translate
                            }} </button>
                    </div>
                </div>
            </div>
            <!-- image for mobile -->
            <div class="image d-md-none">
                <img src="../../assets/images/dreaming-woman.png" alt="">
            </div>
            <!-- image for desktop -->
            <div class="image d-none d-md-block">
                <img src="../../assets/images/dreaming-woman.png" alt="">
            </div>
            <div class="col-12 faq">
                <p [innerHTML]="'home.page.p.3.1' | translate">

                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>