<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header">
                    <h1>Welcome To Your Safespace
                    </h1>
                </div>
                <div>
                    <p>Help yourself and help others!</p>
                    <p>Here you can get help quickly and directly: you can report an incident - anonymously if you wish,
                        you
                        can
                        research and reach out to a contact person and you can search for helpful information in the
                        FAQ.
                    </p>
                </div>
                <div class="buttons">
                    <div>
                        <button class="btn btn-primary" onclick="window.location.href = '/meldeformular';">Report An Incident</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" onclick="window.location.href = '/kontaktseite';">Get in contact</button> 
                    </div>
                </div>
            </div>
            <!-- image for mobile -->
            <div class="image d-md-none">
                <img src="../../assets/images/dreaming-woman.png" alt="">
            </div>
            <!-- image for desktop -->
            <div class="image d-none d-md-block">
                <img src="../../assets/images/dreaming-woman.png" alt="">
            </div>
            <div class="col-12 faq">
                <p>
                    Any questions? Visit the <a href="">FAQ</a> for more information.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>