<!-- summary-kontaktformular.component.html -->

<div class="summary">
    <header>Die Zusammenfassung Ihrer Daten:</header>
    <br>
    <div>Zu welcher Gruppe gehören Sie? <br> {{ formData.mitgliedergruppe }}</div>
    <br>
    <div>Betroffenheit? <br> {{ formData.betroffenheit }}</div>
    <br>
    <div>Dringlichkeit <br>{{ formData.message }}</div>
    <br>
    <div>Welcher Kategorie würden Sie diese Art von Diskriminierung spontan zuordnen? <br>
      {{ formData.category }}</div>
    <br>
    <div>Nachname: <br> {{ formData.lastname }}</div>
    <div>Vorname: <br>{{ formData.firstname }}</div>
    <div>Email: <br>{{ formData.email }}</div>
    <button class="btn-primary" type="submit">Absenden</button>
  </div>
  