.container {
    width: 100%;
    padding: 4% 4% 4% 10%;
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/*.notiz {
    color: red;
}*/

a {
    color: #76B900;
}

h1 {
    text-align: center;
}

/*h2 {
    font-weight: 400;
}

h3 {
    font-weight: 600;
}

h5 {
    font-weight: 600;
}

.sub {
    font-weight: 600;
}*/

i {
    cursor: pointer;
}