
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <h2>Datenschutzhinweise</h2>
                <p>Vielen Dank für Ihr Interesse an unserer Hochschule. Der Schutz Ihrer Daten ist uns ein wichtiges Anliegen. 
                    Deshalb verarbeiten wir die Daten, die Sie beim Besuch auf unseren Webseiten hinterlassen, nur nach den Vorgaben der 
                    relevanten datenschutzrechtlichen Bestimmungen, insbesondere der 
                    Datenschutzgrundverordnung und des Bundesdatenschutzgesetzes. An dieser Stelle möchten wir Sie über Art, Umfang und Zweck 
                    der Verarbeitung Ihrer personenbezogenen Daten informieren.</p>            

                <br>
                <h3>Verantwortliche*r</h3>
                <p>Die Website www.htw-berlin.de einschließlich aller Unterseiten ist ein Angebot der Hochschule für Technik und Wirtschaft Berlin, 
                    vertreten durch den <a href="https://www.htw-berlin.de/einrichtungen/hochschulleitung/praesidentin/">Präsidenten</a> (praesident@htw-berlin.de), Treskowallee 8, 10318 Berlin </p>
                    <div class="notiz">(Impressum (NOTIZ: LINK EINFÜGEN))</div>
                <p>
                    soweit diese nicht von anderen Rechtskörperschaften (z.B. Studierendenwerk Berlin) betrieben werden. 
                    Die Hochschule ist Verantwortliche im Sinne des Art. 5 II DSGVO.
                </p>    

                <br>
                <h3>Behördliche*r Datenschutzbeauftragte*r</h3>
                <p>
                    Vitali Dick (HiSolutions AG)
                    <br>
                    Stellvertretung: <a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=9140">Franziska Hofmann</a>
                </p>
                
                <p>
                    Telefon: 5019-2950
                    <br>
                    E-Mail: datenschutz@htw-berlin.de
                </p>

                <p>
                    
                    Sie können sich jederzeit bei allen Fragen und Anregungen zum Datenschutz direkt an unseren Datenschutzbeauftragten wenden.

                    <br>

                    Die nachfolgende Datenschutzerklärung gilt nur für diese Website und deren Unterseiten, nicht aber für etwaig verlinkte 
                    Webseiten Dritter, etwa die verlinkten Social-Media-Seiten bei Twitter, 
                    Facebook und Instagram. 
                </p>
           
                <br> 

                <h3>Schutzgegenstand</h3>
                <p>
                    Schutzgegenstand sind personenbezogene Daten, das heißt, Einzelangaben
                    über persönliche oder sachliche Verhältnisse einer bestimmten oder 
                    bestimmbaren natürlichen Person. Hierunter fallen vor allem Angaben, 
                    die Rückschlüsse auf Ihre Identität ermöglichen (z.B. Angaben wie Name, Post-Adresse, 
                    E-Mail-Adresse, IP-Adresse oder Telefonnummer). 
                </p>
           
                <br>

                <h3>Erfassung allgemeiner Daten</h3>

                <p>
                    Unsere Website erfasst mit jedem Aufruf verschiedene allgemeine Daten und Informationen, die in sog. 
                    Logfiles des Servers gespeichert werden. Zu diesen Daten zählen etwa Ihre IP-Adresse, Ihr Browsertyp und Ihre 
                    Browserversion, Ihr Betriebssystem, die Internetseite, von der Sie auf unsere Website gelangt sind, die Unterwebseiten, 
                    welche über ein zugreifendes System auf unserer Internetseite angesteuert werden, das Datum und die Uhrzeit eines 
                    Zugriffs auf unsere Website und Ihr Internet-Service-Provider.
                    
                    <br> <br>

                    Wir benötigen die vorgenannten Daten, um die Inhalte unserer Internetseite korrekt auszuliefern und die dauerhafte 
                    Funktionsfähigkeit unserer informationstechnologischen Systeme und der Technik unserer Internetseite zu gewährleisten. 
                    Die gespeicherten Daten werden nur zu statistischen Zwecken ausgewertet. Rückschlüsse auf Ihre Person werden aus den 
                    Daten nicht gezogen, insbesondere werden die Server-Logfiles getrennt von Ihren sonstigen personenbezogenen Daten gespeichert. 
                    Personenbezogene Nutzerprofile können nicht gebildet werden.

                    <br><br>

                    Die Verarbeitung der Daten erfolgt auf Grundlage von Art. 6 I lit. b) DSGVO. Nach dieser Vorschrift 
                    ist die Verarbeitung personenbezogener Daten zur Erfüllung eines Vertrags, dessen Vertragspartei Sie sind, oder zur Durchführung 
                    vorvertraglicher Maßnahmen erforderlich. Mit der Nutzung unserer Seite nehmen Sie unser Angebot auf Abschluss eines 
                    entsprechenden (unentgeltlichen) Nutzungsvertrages stillschweigend an. Im Übrigen ist die Verarbeitung auch über Art. 6 I lit. f) 
                    DSGVO gerechtfertigt, da wir ein berechtigtes Interesse an der Verarbeitung haben und Ihre Interessen, Grundrechte und Grundfreiheiten 
                    nicht überwiegen. Das Interesse besteht darin, unser Webangebot ordnungsgemäß auszuliefern und die Funktionsfähigkeit unserer 
                    Systeme zu schützen.
                </p>
           
                <br>

                <h3>Kontakt über die Internetseite</h3>

                <p>
                    Auf unserer Website finden Sie verschiedene Informationen für die Kontaktaufnahme (E-Mail, Telefax, Telefon) 
                    sowie verschiedene Kontaktformulare, über die Sie uns Anfragen senden können. 
                    Zu diesen Kontaktformularen zählen etwa:
                </p>
                <ul>
                    <li><a href="https://rz.htw-berlin.de/anleitungen/externe-dienste/zenkit/">mit ZenForms erstellte Formulare</a></li>
                    <li><a href="https://bibliothek.htw-berlin.de/literatur-suchen/anschaffungsvorschlag/?no_cache=1">Anschaffungsvorschlag der Bibliothek</a></li>
                    <li><a href="https://hochschulsport.htw-berlin.de/sportstaetten/anmietung-von-sportstaetten/?no_cache=1">Anmietung von Sportstätten</a></li>
                    <li><a href="https://mpmd.htw-berlin.de/">Kontaktformular für den Studiengang "Project Management und Data Science"</a></li>
                    <li><a href="https://www.htw-berlin.de/einrichtungen/zentrale-hochschulverwaltung/technische-dienste/kontaktformular/?no_cache=1">Kontaktformular der Abteilung Technische Dienste</a></li>
                    <li><a href="https://account.htw-berlin.de/contact/index">Serviceanfrage an das IT-Helpcenter</a></li>
                </ul>

                <p>
                    Wenn Sie Kontakt mit uns aufnehmen, werden die von Ihnen übermittelten personenbezogenen Daten automatisch gespeichert. Solche, 
                    auf freiwilliger Basis übermittelten personenbezogenen Daten werden für Zwecke der Bearbeitung oder der Kontaktaufnahme gespeichert. 
                    Dies gilt auch für Bewerbungsdaten, die Sie uns initiativ oder auf Anforderung zusenden. Es erfolgt 
                    keine Weitergabe dieser personenbezogenen Daten an Dritte. Kontaktdaten werden ausschließlich für die Verarbeitung 
                    der Konversation verwendet.

                    <br><br>

                    Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 I lit. b) DSGVO, sofern die Verarbeitung der Anbahnung eines Vertragsverhältnisses 
                    dient. Im Übrigen dienen Ihre Einwilligung (Art. 6 I lit. a) DSGVO) und unser berechtigtes Interesse (Art. 6 I lit. f) DSGVO) 
                    an der Verarbeitung als Rechtsgrundlagen. Das berechtigte Interesse besteht darin, dass wir eine von Ihnen initiierte Konversation fortführen möchten.
                </p>

                <br>

                <h3>Cookies</h3>

                <p>
                    Auf unseren Internetseiten werden Cookies verwendet. Hierbei handelt es sich um kleine Textdateien, die auf Ihrem Endgerät abgelegt werden. 
                    Einige der von uns verwendeten Cookies werden nach dem Ende der Browser-Sitzung, also nach Schließen Ihres Browsers, wieder gelöscht 
                    (Sitzungs-Cookies). Andere Cookies verbleiben auf Ihrem Endgerät und ermöglichen uns, Ihren Browser beim nächsten Besuch wiederzuerkennen 
                    (persistente Cookies). Die in Cookies enthaltenen Informationen dienen u.a. der Erleichterung der Navigation, zum Speichern von Sitzungsdaten 
                    oder unterstützen die Erfassung von Statistikdaten. Sie werden auf den Einstiegsseiten jeder Web(sub)domäne des Webauftritts der HTW Berlin 
                    vor der Verwendung von Cookies gewarnt und können über deren Nutzung entscheiden. Über einen Link im unteren Seitenbereich jeder Webseite 
                    können Sie jederzeit die Verwendung von Cookies einschränken oder ausschließen. Wir unterteilen die Cookies in technisch notwendige Cookies 
                    und Cookies zum Sammeln und Analysieren von statistischen Daten.   
                </p>
                <br>
                <div class="sub">
                    <p>Notwendige Cookies</p>
                </div>

                <p>
                    Der Zweck technisch notwendiger Cookies ist, die Nutzung von Internetseiten zu vereinfachen. Einige Funktionen unserer Internetseite können 
                    ohne den Einsatz von Cookies nicht angeboten werden. Die Nutzung der technisch notwendigen Cookies kann nicht abgewählt werden. Für folgende 
                    Anwendungsfälle benötigen wir Cookies:  
                </p>

                <ul>
                    <li>Informationen zur gewählten Bildschirmauflösung</li>
                    <li>Sitzungscookie für den Zugriff auf geschützte Bereiche unserer Internetseiten</li>
                    <li>Status der Cookie-Zustimmung</li>
                </ul>

                <p>
                    Die durch technisch notwendige Cookies erhobenen Nutzungsdaten werden nicht zur Erstellung von Nutzer_innen-Profilen verwendet.
                </p>

                <div class="sub">
                    <p>Cookies zum Sammeln und Analysieren von statistischen Daten
                    </p>
                </div>

                <p>
                    Wir verwenden auf unserer Internetseite darüber hinaus Cookies, die eine Analyse des Surfverhaltens ermöglichen. Die auf diese 
                    Weise erhobenen Daten werden durch technische Vorkehrungen anonymisiert. Daher ist eine Zuordnung der Daten zum/zur aufrufenden 
                    Nutzer_in sowie zu einer bestimmten IP-Adresse nicht mehr möglich. Die Daten werden nicht gemeinsam mit sonstigen personenbezogenen 
                    Daten der Nutzer_innen gespeichert.
                </p>

                <h3>Allgemeine Informationen zum Hochschulbetrieb</h3>

                <p>
                    Als Mitarbeiter_innen oder Studierende unserer Hochschule erhalten Sie von uns regelmäßig aktuelle Informationen, 
                    die den Hochschulbetrieb betreffen (z.B. Amtliche Mitteilungsblätter) per E-Mail auf Ihre Hochschul-E-Mail-Adresse. 
                    Hierbei handelt es sich um hochschulinterne Kommunikation, die zwingend erforderlich ist, um einen ordnungsgemäßen 
                    Hochschulbetrieb zu gewährleisten. Für die Versendung dieser Informationen verarbeiten wir Ihre von uns an Sie 
                    vergebene Hochschul-E-Mail-Adresse.
                
                    <br><br>

                    Die Rechtsgrundlage für die Verarbeitung Ihrer Daten zum Versand der Informationen ist Art. 6 I lit. b) DSGVO, 
                    da die versandten Informationen dazu dienen, das zwischen der Hochschule und den Hochschulangehörigen bestehende 
                    Vertragsverhältnis durchzuführen. Darüber hinaus ist die Verarbeitung auch über Art. 6 I lit. f) DSGVO gerechtfertigt, 
                    da wir ein berechtigtes Interesse daran haben, den Hochschulangehörigen Informationen zukommen zu lassen, die einen 
                    ordnungsgemäßen Hochschulbetrieb gewährleisten. Ihre Rechte stehen dem nicht entgegen, weil davon auszugehen ist, 
                    dass Sie ein Eigeninteresse an diesen Informationen haben.
                </p>

                <h3>Matomo</h3>

                <p>
                    Der zentrale Webauftritt der HTW Berlin verwendet das Open-Source-Tool Matomo <a href="https://matomo.org/">(www.matomo.org)</a>, 
                    ein Analysedienst des Anbieters InnoCraft Ltd., 150 Willis St, 6011 Wellington, Neuseeland. Mit diesem Analysedienst werden sämtliche 
                    Daten auf Servern der HTW Berlin gespeichert und verarbeitet. Der Analysedienst ist grundsätzlich deaktiviert, wenn Sie unseren 
                    Webauftritt das erste Mal besuchen. Erst wenn Sie aktiv einwilligen, wird Ihr Nutzungsverhalten anonymisiert erfasst.
                </p>

                <div class="sub">
                    <p>Umfang und Beschreibung der Verarbeitung personenbezogener Daten</p>
                </div>

                <p>Folgende Daten werden erhoben:</p>

                <ul>
                    <li>zwei Bytes der IP-Adresse des aufrufenden Systems des Nutzers (z.B. 192.168.xxx.xxx)</li>
                    <li>die aufgerufene Webseite</li>
                    <li>die Website, von der der/die Nutzer_in auf die aufgerufene Webseite gelangt ist</li>
                    <li>die Unterseiten, die von der aufgerufenen Webseite aus aufgerufen werden</li>
                    <li>die Verweildauer auf der Webseite</li>
                    <li>die Häufigkeit des Aufrufs der Webseite</li>
                </ul>

                <div class="sub">
                    <p>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</p>
                </div>

                <p>
                    Die Rechtsgrundlage für die Verarbeitung der Nutzungsdaten ist Art. 6 Abs. 1 lit. f DSGVO bzw. § 15 Abs. 3 TMG.
                </p>

                <div class="sub">
                    <p>Zweck der Verarbeitung</p>
                </div>

                <p>
                    Mit Matomo analysieren wir die Nutzung unserer Webseite, um Themen und Angebote fortlaufend zu verbessern und die Relevanz einzelner Webseiten bewerten zu können.
                </p>

                <div class="sub">
                    <p>Dauer der Speicherung</p>
                </div>

                <p>
                    Die Daten der hier beschriebenen Verarbeitung werden nach einer Speicherdauer von 90 Tagen vom Matomo-Server gelöscht.    
                </p>

                <div class="sub">
                    <p>Widerspruchsmöglichkeit</p>
                </div>

                <p>
                    Einer Erfassung und Auswertung können Sie nur für Ihre aktuelle Browsersitzung verhindern, indem Sie Ihre Cookie-Einstellungen im 
                    unteren Seitenbereich jeder Webseite der HTW Berlin anpassen, Ihre vorhandenen Cookies löschen oder der Speicherung von 
                    Cookies in den Einstellungen Ihres Webbrowsers deaktivieren. Wir weisen darauf hin, dass Sie mit deaktivieren Cookies nicht alle Funktionen dieser Webseite vollumfänglich nutzen können.
                </p>

                <h3>Google Analytics</h3>

                <p>
                    Unsere Website benutzt Google Analytics, einen Webanalysedienst der Google Inc., 1600 Amphitheatre Parkway, 
                    Mountain View, CA 94043, USA ("Google"). Google Analytics verwendet Cookies (vgl. oben), die eine Analyse Ihrer 
                    Nutzung unserer Seite ermöglichen. Die durch den Cookie erzeugten Informationen werden in der Regel an einen Server 
                    von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser
                    Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen 
                    Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle 
                    IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website 
                    wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten 
                    zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem 
                    Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit 
                    anderen Daten von Google zusammengeführt. 

                    <br><br>

                    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; 
                    wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website 
                    vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf 
                    Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch 
                    Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und 
                    installieren: <a href="https://tools.google.com/dlpage/gaoptout">Plugin herunterladen</a>
                    Wenn dies bei Ihnen nicht funktioniert, können Sie die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden 
                    Link klicken. Es wird ein Opt-out-Cookie gesetzt, der die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website 
                    verhindert:  Google Analytics deaktivieren
                    <div class="notiz">(LINK FUNKTIONIERT NICHT)</div>
                    Wir nutzen Google Analytics auch dazu, Daten aus AdWords und dem Double-Click-Cookie zu statistischen Zwecken auszuwerten. 
                    Wenn Sie das nicht wünschen, können Sie diese Funktion über den Anzeigen-vorgaben-Manager deaktivieren, indem Sie auf 
                    folgenden Link klicken: <a href="https://myadcenter.google.com/home?hl=de&sasb=true&ref=ad-settings">Verwenden von Daten aus AdWords und
                        dem Double-Click-Cookies deaktivieren.</a>
                
                    Nähere Informationen zu Nutzungsbedingun-gen und Datenschutz finden Sie unter www.google.com/analytics/terms/de.html bzw. 
                    unter www.google.de/intl/de/policies/. Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um den Code "anonymizeIp" 
                    erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.
             
                    <br><br>

                    Die Nutzung von Google Analytics erfolgt auf Grundlage von Art. 6 I lit. f) DSGVO, da die Verarbeitung zur Wahrung eines berechtigten 
                    Interesses unserer Hochschule erforderlich ist, und Ihre Interessen, Grundrechte und Grundfreiheiten nicht überwiegen. Unser berechtigtes 
                    Interesse liegt darin begründet, näher zu erfahren, wie unsere Website konkret genutzt wird. Demgegenüber verarbeiten wir Ihre Daten nur 
                    zu statistischen Zwecken und dies in aller Regel nur anonymisiert. Darüber hinaus sind Ihre Daten dadurch geschützt, dass wir zu Google ein 
                    Auftragsverarbeitungsverhältnis unterhalten, in dem sich Google verpflichtet, Ihre Daten nur entsprechend den Bestimmungen der DSGVO zu verarbeiten.
                  
                    <br><br>

                    <h3>Google Maps</h3>

                    <p>
                    Diese Website benutzt Google Maps API, einen Kartendienst der Google Inc. (Adresse wie zuvor) zur Darstellung einer interaktiven Karte und zur 
                    Erstellung von Anfahrtsplänen. Indem wir Ihnen unseren Standort auf der Website anzeigen, geben wir Ihnen die Möglichkeit, unterschiedliche 
                    Anfahrtswege über die Dienste von Google Maps zu ermitteln. Durch die Nutzung von Google Maps können Informationen über Ihre Benutzung dieser 
                    Webseite (einschließlich Ihrer IP-Adresse) an einen Server von Google in den USA übertragen und dort gespeichert werden. Google wird die durch Maps 
                    gewonnenen Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von 
                    Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Es ist trotzdem technisch möglich, 
                    dass Google aufgrund der erhaltenen Daten eine Identifizierung zumindest einzelner Nutzer_innen vornehmen könnte. Sie haben die Möglichkeit, den Service 
                    von Google Maps zu deaktivieren und somit den Datentransfer an Google zu verhindern, indem Sie JavaScript in Ihrem Browser deaktivieren. Wir weisen Sie 
                    jedoch darauf hin, dass Sie in diesem Fall die Kartenanzeige auf unserer Webseite nicht nutzen können.
                    
                    <br><br>

                    Die Rechtsgrundlage für die Verwendung von Google Maps ist Art. 6 I lit. f) DSGVO. Unser berechtigtes Interesse an der Datenverarbeitung liegt darin begründet, 
                    eine bestmögliche Erreichbarkeit unserer Hochschule zu sichern.

                    <h3>YouTube</h3>

                    <p>
                        Unsere Webseiten halten regelmäßig Inhalte von YouTube vor. YouTube ist ein Internet-Videoportal der YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. 
                        Die YouTube, LLC ist einer Tochtergesellschaft der Google Inc. (vgl. zuvor). Auf YouTube können Nutzer_innen Videos einstellen, die von anderen Nutzer_innen angeschaut, 
                        bewertet oder kommentiert werden können. Wenn Sie eine unserer Seiten aufrufen, auf der Inhalte von YouTube vorgehalten werden, wird Ihr Internetbrowser automatisch durch 
                        die jeweilige YouTube-Komponente veranlasst, eine Darstellung der entsprechenden YouTube-Komponente von YouTube herunterzuladen, wodurch YouTube und Google Kenntnis darüber 
                        erlangen, welche konkrete Seite Sie bei uns besucht haben. Diese Informationen werden durch YouTube und Google gesammelt und, sofern Sie bei YouTube eingeloggt sind, Ihrem 
                        YouTube-Account zugeordnet. Dies findet unabhängig davon statt, ob Sie ein YouTube-Video auf unseren Seiten anklicken oder nicht. Wenn Sie eine derartige Übermittlung dieser 
                        Informationen an YouTube und Google unterbinden wollen, müssen Sie sich vor einem Aufruf unserer Internetseite aus Ihrem YouTube-Account ausloggen. Die Datenschutzbestimmungen 
                        von YouTube sind unter <a href="https://policies.google.com/privacy?hl=de&gl=de">https://www.google.de/intl/de/policies/privacy</a> abrufbar.
                    </p>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>