
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <h1>Datenschutzhinweise</h1>
                <p>Vielen Dank für Ihr Interesse an unserer Hochschule. Der Schutz Ihrer Daten ist uns ein wichtiges Anliegen. 
                    Deshalb verarbeiten wir die Daten, die Sie beim Besuch auf unseren Webseiten hinterlassen, nur nach den Vorgaben der 
                    relevanten datenschutzrechtlichen Bestimmungen, insbesondere der 
                    Datenschutzgrundverordnung und des Bundesdatenschutzgesetzes. An dieser Stelle möchten wir Sie über Art, Umfang und Zweck 
                    der Verarbeitung Ihrer personenbezogenen Daten informieren.</p>            

                <br>
                <h2>Verantwortliche*r</h2>
                <p>Die Website www.htw-berlin.de einschließlich aller Unterseiten ist ein Angebot der Hochschule für Technik und Wirtschaft Berlin, 
                    vertreten durch den <a href="https://www.htw-berlin.de/einrichtungen/hochschulleitung/praesidentin/">Präsidenten</a> (praesident@htw-berlin.de), Treskowallee 8, 10318 Berlin </p>
                    <div class="notiz">(Impressum (NOTIZ: LINK EINFÜGEN))</div>
                <p>
                    soweit diese nicht von anderen Rechtskörperschaften (z.B. Studierendenwerk Berlin) betrieben werden. 
                    Die Hochschule ist Verantwortliche im Sinne des Art. 5 II DSGVO.
                </p>    

                <br>
                <h2>Behördliche*r Datenschutzbeauftragte*r</h2>
                <p>
                    Vitali Dick (HiSolutions AG)
                    <br>
                    Stellvertretung: <a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=9140">Franziska Hofmann</a>
                </p>

                <p>Sie können sich jederzeit bei allen Fragen und Anregungen zum Datenschutz direkt an unseren Datenschutzbeauftragten wenden.

                    <br>
                    Die nachfolgende Datenschutzerklärung gilt nur für diese Website und deren Unterseiten, nicht aber für etwaig verlinkte Webseiten Dritter, etwa die verlinkten Social-Media-Seiten bei Twitter, Facebook und Instagram. </p>
            </div>
        </div>
    </div>
