
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <h2>Datenschutzhinweise</h2>
                <p>Vielen Dank für Ihr Interesse an unserer Hochschule. Der Schutz Ihrer Daten ist uns ein wichtiges Anliegen. 
                    Deshalb verarbeiten wir die Daten, die Sie beim Besuch auf unseren Webseiten hinterlassen, nur nach den Vorgaben der 
                    relevanten datenschutzrechtlichen Bestimmungen, insbesondere der 
                    Datenschutzgrundverordnung und des Bundesdatenschutzgesetzes. An dieser Stelle möchten wir Sie über Art, Umfang und Zweck 
                    der Verarbeitung Ihrer personenbezogenen Daten informieren.</p>            

                <br>
                <h3>Verantwortliche*r</h3>
                <p>Die Website www.htw-berlin.de einschließlich aller Unterseiten ist ein Angebot der Hochschule für Technik und Wirtschaft Berlin, 
                    vertreten durch den <a href="https://www.htw-berlin.de/einrichtungen/hochschulleitung/praesidentin/">Präsidenten</a> (praesident@htw-berlin.de), Treskowallee 8, 10318 Berlin </p>
                    <div class="notiz">(Impressum (NOTIZ: LINK EINFÜGEN))</div>
                <p>
                    soweit diese nicht von anderen Rechtskörperschaften (z.B. Studierendenwerk Berlin) betrieben werden. 
                    Die Hochschule ist Verantwortliche im Sinne des Art. 5 II DSGVO.
                </p>    

                <br>
                <h3>Behördliche*r Datenschutzbeauftragte*r</h3>
                <p>
                    Vitali Dick (HiSolutions AG)
                    <br>
                    Stellvertretung: <a href="https://www.htw-berlin.de/hochschule/personen/person/?eid=9140">Franziska Hofmann</a>
                </p>
                
                <p>
                    Telefon: 5019-2950
                    <br>
                    E-Mail: datenschutz@htw-berlin.de
                </p>

                <p>
                    
                    Sie können sich jederzeit bei allen Fragen und Anregungen zum Datenschutz direkt an unseren Datenschutzbeauftragten wenden.

                    <br>

                    Die nachfolgende Datenschutzerklärung gilt nur für diese Website und deren Unterseiten, nicht aber für etwaig verlinkte 
                    Webseiten Dritter, etwa die verlinkten Social-Media-Seiten bei Twitter, 
                    Facebook und Instagram. 
                </p>
           
                <br> 

                <h3>Schutzgegenstand</h3>
                <p>
                    Schutzgegenstand sind personenbezogene Daten, das heißt, Einzelangaben
                    über persönliche oder sachliche Verhältnisse einer bestimmten oder 
                    bestimmbaren natürlichen Person. Hierunter fallen vor allem Angaben, 
                    die Rückschlüsse auf Ihre Identität ermöglichen (z.B. Angaben wie Name, Post-Adresse, 
                    E-Mail-Adresse, IP-Adresse oder Telefonnummer). 
                </p>
           
                <br>

                <h3>Erfassung allgemeiner Daten</h3>

                <p>
                    Unsere Website erfasst mit jedem Aufruf verschiedene allgemeine Daten und Informationen, die in sog. 
                    Logfiles des Servers gespeichert werden. Zu diesen Daten zählen etwa Ihre IP-Adresse, Ihr Browsertyp und Ihre 
                    Browserversion, Ihr Betriebssystem, die Internetseite, von der Sie auf unsere Website gelangt sind, die Unterwebseiten, 
                    welche über ein zugreifendes System auf unserer Internetseite angesteuert werden, das Datum und die Uhrzeit eines 
                    Zugriffs auf unsere Website und Ihr Internet-Service-Provider.
                    
                    <br> <br>

                    Wir benötigen die vorgenannten Daten, um die Inhalte unserer Internetseite korrekt auszuliefern und die dauerhafte 
                    Funktionsfähigkeit unserer informationstechnologischen Systeme und der Technik unserer Internetseite zu gewährleisten. 
                    Die gespeicherten Daten werden nur zu statistischen Zwecken ausgewertet. Rückschlüsse auf Ihre Person werden aus den 
                    Daten nicht gezogen, insbesondere werden die Server-Logfiles getrennt von Ihren sonstigen personenbezogenen Daten gespeichert. 
                    Personenbezogene Nutzerprofile können nicht gebildet werden.

                    <br><br>

                    Die Verarbeitung der Daten erfolgt auf Grundlage von Art. 6 I lit. b) DSGVO. Nach dieser Vorschrift 
                    ist die Verarbeitung personenbezogener Daten zur Erfüllung eines Vertrags, dessen Vertragspartei Sie sind, oder zur Durchführung 
                    vorvertraglicher Maßnahmen erforderlich. Mit der Nutzung unserer Seite nehmen Sie unser Angebot auf Abschluss eines 
                    entsprechenden (unentgeltlichen) Nutzungsvertrages stillschweigend an. Im Übrigen ist die Verarbeitung auch über Art. 6 I lit. f) 
                    DSGVO gerechtfertigt, da wir ein berechtigtes Interesse an der Verarbeitung haben und Ihre Interessen, Grundrechte und Grundfreiheiten 
                    nicht überwiegen. Das Interesse besteht darin, unser Webangebot ordnungsgemäß auszuliefern und die Funktionsfähigkeit unserer 
                    Systeme zu schützen.
                </p>
           
                <br>

                <h3>Kontakt über die Internetseite</h3>

                <p>
                    Auf unserer Website finden Sie verschiedene Informationen für die Kontaktaufnahme (E-Mail, Telefax, Telefon) 
                    sowie verschiedene Kontaktformulare, über die Sie uns Anfragen senden können. 
                    Zu diesen Kontaktformularen zählen etwa:
                </p>
                <ul>
                    <li><a href="https://rz.htw-berlin.de/anleitungen/externe-dienste/zenkit/">mit ZenForms erstellte Formulare</a></li>
                    <li><a href="https://bibliothek.htw-berlin.de/literatur-suchen/anschaffungsvorschlag/?no_cache=1">Anschaffungsvorschlag der Bibliothek</a></li>
                    <li><a href="https://hochschulsport.htw-berlin.de/sportstaetten/anmietung-von-sportstaetten/?no_cache=1">Anmietung von Sportstätten</a></li>
                    <li><a href="https://mpmd.htw-berlin.de/">Kontaktformular für den Studiengang "Project Management und Data Science"</a></li>
                    <li><a href="https://www.htw-berlin.de/einrichtungen/zentrale-hochschulverwaltung/technische-dienste/kontaktformular/?no_cache=1">Kontaktformular der Abteilung Technische Dienste</a></li>
                    <li><a href="https://account.htw-berlin.de/contact/index">Serviceanfrage an das IT-Helpcenter</a></li>
                </ul>

                <p>
                    Wenn Sie Kontakt mit uns aufnehmen, werden die von Ihnen übermittelten personenbezogenen Daten automatisch gespeichert. Solche, 
                    auf freiwilliger Basis übermittelten personenbezogenen Daten werden für Zwecke der Bearbeitung oder der Kontaktaufnahme gespeichert. 
                    Dies gilt auch für Bewerbungsdaten, die Sie uns initiativ oder auf Anforderung zusenden. Es erfolgt 
                    keine Weitergabe dieser personenbezogenen Daten an Dritte. Kontaktdaten werden ausschließlich für die Verarbeitung 
                    der Konversation verwendet.

                    <br><br>

                    Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 I lit. b) DSGVO, sofern die Verarbeitung der Anbahnung eines Vertragsverhältnisses 
                    dient. Im Übrigen dienen Ihre Einwilligung (Art. 6 I lit. a) DSGVO) und unser berechtigtes Interesse (Art. 6 I lit. f) DSGVO) 
                    an der Verarbeitung als Rechtsgrundlagen. Das berechtigte Interesse besteht darin, dass wir eine von Ihnen initiierte Konversation fortführen möchten.
                </p>

                <br>

                <h3>Cookies</h3>

                <p>
                    Auf unseren Internetseiten werden Cookies verwendet. Hierbei handelt es sich um kleine Textdateien, die auf Ihrem Endgerät abgelegt werden. 
                    Einige der von uns verwendeten Cookies werden nach dem Ende der Browser-Sitzung, also nach Schließen Ihres Browsers, wieder gelöscht 
                    (Sitzungs-Cookies). Andere Cookies verbleiben auf Ihrem Endgerät und ermöglichen uns, Ihren Browser beim nächsten Besuch wiederzuerkennen 
                    (persistente Cookies). Die in Cookies enthaltenen Informationen dienen u.a. der Erleichterung der Navigation, zum Speichern von Sitzungsdaten 
                    oder unterstützen die Erfassung von Statistikdaten. Sie werden auf den Einstiegsseiten jeder Web(sub)domäne des Webauftritts der HTW Berlin 
                    vor der Verwendung von Cookies gewarnt und können über deren Nutzung entscheiden. Über einen Link im unteren Seitenbereich jeder Webseite 
                    können Sie jederzeit die Verwendung von Cookies einschränken oder ausschließen. Wir unterteilen die Cookies in technisch notwendige Cookies 
                    und Cookies zum Sammeln und Analysieren von statistischen Daten.   
                </p>
                <br>
                <div class="sub">
                    <p>Notwendige Cookies</p>
                </div>

                <p>
                    Der Zweck technisch notwendiger Cookies ist, die Nutzung von Internetseiten zu vereinfachen. Einige Funktionen unserer Internetseite können 
                    ohne den Einsatz von Cookies nicht angeboten werden. Die Nutzung der technisch notwendigen Cookies kann nicht abgewählt werden. Für folgende 
                    Anwendungsfälle benötigen wir Cookies:  
                </p>

                <ul>
                    <li>Informationen zur gewählten Bildschirmauflösung</li>
                    <li>Sitzungscookie für den Zugriff auf geschützte Bereiche unserer Internetseiten</li>
                    <li>Status der Cookie-Zustimmung</li>
                </ul>

                <p>
                    Die durch technisch notwendige Cookies erhobenen Nutzungsdaten werden nicht zur Erstellung von Nutzer_innen-Profilen verwendet.
                </p>

                <div class="sub">
                    <p>Cookies zum Sammeln und Analysieren von statistischen Daten
                    </p>
                </div>

                <p>
                    Wir verwenden auf unserer Internetseite darüber hinaus Cookies, die eine Analyse des Surfverhaltens ermöglichen. Die auf diese 
                    Weise erhobenen Daten werden durch technische Vorkehrungen anonymisiert. Daher ist eine Zuordnung der Daten zum/zur aufrufenden 
                    Nutzer_in sowie zu einer bestimmten IP-Adresse nicht mehr möglich. Die Daten werden nicht gemeinsam mit sonstigen personenbezogenen 
                    Daten der Nutzer_innen gespeichert.
                </p>

                <h3>Allgemeine Informationen zum Hochschulbetrieb</h3>

                <p>
                    Als Mitarbeiter_innen oder Studierende unserer Hochschule erhalten Sie von uns regelmäßig aktuelle Informationen, 
                    die den Hochschulbetrieb betreffen (z.B. Amtliche Mitteilungsblätter) per E-Mail auf Ihre Hochschul-E-Mail-Adresse. 
                    Hierbei handelt es sich um hochschulinterne Kommunikation, die zwingend erforderlich ist, um einen ordnungsgemäßen 
                    Hochschulbetrieb zu gewährleisten. Für die Versendung dieser Informationen verarbeiten wir Ihre von uns an Sie 
                    vergebene Hochschul-E-Mail-Adresse.
                
                    <br><br>

                    Die Rechtsgrundlage für die Verarbeitung Ihrer Daten zum Versand der Informationen ist Art. 6 I lit. b) DSGVO, 
                    da die versandten Informationen dazu dienen, das zwischen der Hochschule und den Hochschulangehörigen bestehende 
                    Vertragsverhältnis durchzuführen. Darüber hinaus ist die Verarbeitung auch über Art. 6 I lit. f) DSGVO gerechtfertigt, 
                    da wir ein berechtigtes Interesse daran haben, den Hochschulangehörigen Informationen zukommen zu lassen, die einen 
                    ordnungsgemäßen Hochschulbetrieb gewährleisten. Ihre Rechte stehen dem nicht entgegen, weil davon auszugehen ist, 
                    dass Sie ein Eigeninteresse an diesen Informationen haben.
                </p>

                <h3>Matomo</h3>

                <p>
                    Der zentrale Webauftritt der HTW Berlin verwendet das Open-Source-Tool Matomo <a href="https://matomo.org/">(www.matomo.org)</a>, 
                    ein Analysedienst des Anbieters InnoCraft Ltd., 150 Willis St, 6011 Wellington, Neuseeland. Mit diesem Analysedienst werden sämtliche 
                    Daten auf Servern der HTW Berlin gespeichert und verarbeitet. Der Analysedienst ist grundsätzlich deaktiviert, wenn Sie unseren 
                    Webauftritt das erste Mal besuchen. Erst wenn Sie aktiv einwilligen, wird Ihr Nutzungsverhalten anonymisiert erfasst.
                </p>

                <div class="sub">
                    <p>Umfang und Beschreibung der Verarbeitung personenbezogener Daten</p>
                </div>

                <p>Folgende Daten werden erhoben:</p>

                <ul>
                    <li>zwei Bytes der IP-Adresse des aufrufenden Systems des Nutzers (z.B. 192.168.xxx.xxx)</li>
                    <li>die aufgerufene Webseite</li>
                    <li>die Website, von der der/die Nutzer_in auf die aufgerufene Webseite gelangt ist</li>
                    <li>die Unterseiten, die von der aufgerufenen Webseite aus aufgerufen werden</li>
                    <li>die Verweildauer auf der Webseite</li>
                    <li>die Häufigkeit des Aufrufs der Webseite</li>
                </ul>

                <div class="sub">
                    <p>Rechtsgrundlage für die Verarbeitung personenbezogener Daten</p>
                </div>

                <p>
                    Die Rechtsgrundlage für die Verarbeitung der Nutzungsdaten ist Art. 6 Abs. 1 lit. f DSGVO bzw. § 15 Abs. 3 TMG.
                </p>

                <div class="sub">
                    <p>Zweck der Verarbeitung</p>
                </div>

                <p>
                    Mit Matomo analysieren wir die Nutzung unserer Webseite, um Themen und Angebote fortlaufend zu verbessern und die Relevanz einzelner Webseiten bewerten zu können.
                </p>

                <div class="sub">
                    <p>Dauer der Speicherung</p>
                </div>

                <p>
                    Die Daten der hier beschriebenen Verarbeitung werden nach einer Speicherdauer von 90 Tagen vom Matomo-Server gelöscht.    
                </p>

                <div class="sub">
                    <p>Widerspruchsmöglichkeit</p>
                </div>

                <p>
                    Einer Erfassung und Auswertung können Sie nur für Ihre aktuelle Browsersitzung verhindern, indem Sie Ihre Cookie-Einstellungen im 
                    unteren Seitenbereich jeder Webseite der HTW Berlin anpassen, Ihre vorhandenen Cookies löschen oder der Speicherung von 
                    Cookies in den Einstellungen Ihres Webbrowsers deaktivieren. Wir weisen darauf hin, dass Sie mit deaktivieren Cookies nicht alle Funktionen dieser Webseite vollumfänglich nutzen können.
                </p>

                
                </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>